<div class="container">
  <% @articles.each do |article|%>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-left shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <h5>
              <%= link_to article.title, article_path(article), class: "text-info" %> 
            </h5>
          </div>
          <div class="card-body">
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>
            <% if logged_in? && current_user == article.user %>
              <%= link_to 'View', article_path(article), class: "btn btn-success btn-xs" %>
              <%= link_to 'Edit', edit_article_path(article), class: "btn btn-info btn-xs" %>
              <%= link_to 'Delete', article_path(article), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago, Updated <%= time_ago_in_words(article.updated_at) %> ago
              <% if article.user %>
                Posted by <%= link_to article.user.username, user_path(article.user) %>
              <% end %>
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>