<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-4">
      <div class="card text-center shadow mb-5" id="card-article">
        <!-- <%= link_to gravatar_for(@article.user), user_path(@article.user), class: "mt-4" %> -->
        <div class="card-header font-italic text-info h4">
          <%= @article.title %>
        </div>
        <div class="card-body">
          <div class="avatar mb-4">
            <%= image_tag(url_for(@article.avatar)) %>
          </div>
          <div class="card-text text-center text-muted"><%= simple_format(@article.description) %></div>
          <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
            <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
            <%= link_to 'Delete', article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <% if @article.categories.any? %>
          <div clas="mt-2"><%= render @article.categories %></div>
        <% end %>
        <div class="card-footer text-muted">
          <small>Creado <%= time_ago_in_words(@article.created_at) %></small></br>
          <div>Posted by <%= @article.user.username if @article.user %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'comments/comment' %>

<% if logged_in? %>
  <h2 class="text-center">Envía un comentario sobre esta publicación.</h2>
  <%= render 'comments/form' %>
<% else %>
  <h2 class="text-center">Inicia sesión para comentar esta publicación.</h2>
<% end %>