<h1 class="text-center mt-4 text-white">Categories</h1>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

  <% @categories.each do |category|%>
    <div class="row justify-content-center">
      <div class="col-md-10 mt-4">
        <div class="card text-left shadow mb-5" id="card-article">
          <div class="card-header font-italic" id="card-header-article">
            <h5>
              <%= link_to category.name, category_path(category), class: "text-info", id: "card-header-article" %> 
            </h5>
          </div>
          <div class="card-body" id="card-body-article">
            <p class="card-text text-white"><%= pluralize(category.articles.count, "article") %></p>
          </div>
          <div class="card-footer text-muted">
            <small>Creado hace <%= time_ago_in_words(category.created_at) %>
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @categories, :container => false %>
  </div>
</div>